.letter-avatar {

    /* Makes the background of the label a circle. */
    -fx-background-radius: 500em;

    /* Makes the background a minimum width of 1.5 times the size of the text*/
    -fx-min-width: 1.5em;
    -fx-min-height: 1.5em;
    -fx-pref-width: 1.5em;
    -fx-pref-height: 1.5em;

    -fx-alignment: center;

    /* The default text background is this color, but please do override it. */
    -avatar-background-color: #0000008a;

    /*If we use -fx-background, modena.css will magically take care of the text fill for us. See line 204 of modena.css*/
    -fx-background: -avatar-background-color;
    /* I was under the impression that the -fx-background-color would already be set for me, but this does not seem
       to be the case—so I set it here.*/
    -fx-background-color: -avatar-background-color;

}