.letter-avatar {

    /* Makes the background of the label a circle. */
    -fx-background-radius: 500em;

    /* Makes the background a minimum width of 1.5 times the size of the text*/
    -fx-min-width: 1.5em;
    -fx-min-height: 1.5em;
    -fx-pref-width: 1.5em;
    -fx-pref-height: 1.5em;

    -fx-alignment: center;

    /* The default text background is this color, but please do override it. */
    -background-color: #0000008a;
    -fx-background-color: -background-color;
}

.letter-avatar .text {
    /* Automatically changes the color of the text based on the background color. */
    /*-fx-fill: ladder(-background-color, white 0%, white 59%, black 60%, black 100%);*/
}